body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    height: 1500px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 9, 104, 0.2);
}

#narrow {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#narrow input[type="button"] {
    display: none;
    user-select: none;
}
#narrow label {
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    user-select: none;
}
#narrow input[type="text"],
#tribe_name {
    display: inline-block;
    width: 22.5%;
    margin: 12px 0;
    padding: 8px;   
}

.searchBox {
    display: inline;
    width: 80%;
    margin: 12px 0;
    padding: 8px;
}

#narrow div {
    margin: 9px 0;
}

.card {
    background: rgb(154, 255, 82);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 9, 104, 0.2);;
    margin: 0 0 10px 10px;
}
#results {    
    width: 25%;
    display: block;
}
#rResults {
    width: 75%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#rResults img {
    padding-top: 20px;
    display: inline-block;
}

#twoResults {
    display: flex;
}

button {
    padding: 8px 16px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px;
}

button:hover {
    background: #2980b9;
}
