body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 9, 104, 0.2);
}

#narrow {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* #narrow input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
} */

#narrow input[type="button"] {
    display: none;
}
#narrow label {
    background-color: #3498db;
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    ;
    /* 途中 */
}

#narrow div {
    margin: 9px 0;
}

/* clanをどうにかして２行にする */

.card {
    background: rgb(154, 255, 82);
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

/* #rResults {
    margin-top: 30px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#rResults div {
    margin-bottom: 12px;
}

#rResults img {
    display: block;
    margin-bottom: 12px;
} */

button {
    padding: 8px 16px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px;
}

button:hover {
    background: #2980b9;
}
